@import "../../sass/mixins.sass"

.m-header
  @include flex(center, center, column)
  height: 50rem
  background-size: cover
  background-position: center
  background-attachment: fixed
  background-repeat: no-repeat
  &__title
    font-size: 5rem
    text-transform: uppercase
    margin: $margin 0
    font-weight: bold
  &__list
    display: flex
    padding: 0
    font-size: 1.4rem
    font-weight: bold
  &__item
    &::after
      content: '/'
      padding: 0 .7rem
      opacity: .7
    &:last-child::after
      content: ''
.m-divider
  &__content  
    @include flex(center, center, row)
    background: #131313
  &__list
    @include flex(center, center, row)
    text-transform: uppercase
    font-weight: bold
    flex-wrap: wrap
    font-size: 1.8rem
  [data-icon="star"]
    margin: 0 2rem
    font-size: 1.2rem
    path
      fill: red

